<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저리스트</title>
</head>
<body align="center">
<h1>유저리스트 보기</h1>
<table border="1" align="center">
    <thead>
    <tr>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>승인여부</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list}==null">
        <td colspan="6">데이터가 없습니다.</td>
    </tr>
    <tr th:unless="${list}==null" th:each="user : ${list}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.password}">홍길동</td>

        <td>
            <form th:if="${!user.status}" th:action="@{/admin/approve}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">대기</button>
            </form>
            <form th:if="${user.status}" th:action="@{/admin/unapprove}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">승인</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/update}" method="post">
                <input type="submit" value="수정">
                <input type="hidden" name="id" th:value="${user.id}">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/delete}" method="post">
                <input type="submit" value="삭제">
                <input type="hidden" name="id" th:value="${user.id}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">메인화면</a>
</body>
</html>